:root {
    --textcolor: white;
    --backgroundcolor: black;
    --butoncolor: green;
    --buttonhover:green;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    color: white;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--textcolor);
    background-color: var(--backgroundcolor);
    text-align: center;
}

header {
    text-align: left;
    padding: 20px;
    text-align: center;
}

main {
    margin: 15px;
    font-size: large;
    display: block;
    align-items: center;
}

main input {
    width: 100%;
    font-size: xx-large;
}

main input .checkbox{
    color: var(--textcolor);
}

main div {
    margin: auto;
    width: 50%;
    border: dotted white 2px;
    padding: 40px;
   
}

main h3 {
    margin: 15px;
}

main button {
    padding: 10px;
    font-size: large;
    color: var(--textcolor);
    background-color: var(--butoncolor);
    border-radius: 25px;
}

button:focus {
    outline: none;
}