:root {
    --textcolor: white;
    --backgroundcolor: black;
    --butoncolor: green;
    --buttonhover:white;
    --backgroundsite: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    color: var(--butoncolor);
    font-size: x-large;
}

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--textcolor);
    background-color: var(--backgroundsite);
    text-align: center;
}

header {
    text-align: left;
    padding: 50px;
    text-align: center;
    color: var(--butoncolor);
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    filter: drop-shadow(30px 10px 15px grey);

}

#shield {
    font-size: 65px;
}

main {
    margin: 15px;
    font-size: large;
    display: block;
    align-items: center;
    filter: drop-shadow(10px 0px 20px grey);

}

main input {
    width: 100%;
    font-size: xx-large;
}

main input .checkbox{
    color: var(--textcolor);
    width: 100%;
}

main div {
    margin: auto;
    width: 50%;
    padding: 40px;
    border-radius: 25px;
    max-width: 600px;
    background-color: var(--backgroundcolor);
}

.form:hover, .form:active {
    box-shadow: 1px 1px 20px var(--butoncolor)
}


main h3 {
    margin: 15px;
}

main button {
    background-color: var(--butoncolor);
    border: none;
    color: white;
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
}

button:focus{
    outline: none;
}

button:hover, button:active {
    box-shadow: 1px 1px 10px var(--buttonhover);
}


@media (max-width:420px) {
    main div {
        width: 100%;
        padding: 20px;
        font-size: large;
    }

    header {
        padding: 20px;
        font-size: large;
    }

    p {
        font-size: 15px;
    }

}

@media (max-width:768px) {
    main div {
        width: 75%;   
       
    }

}